<h1></h1>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>

<p>
  <strong>Map Name: </strong>
  <%= @map.name %>
</p>

<p>
  <strong>Exhibition Name: </strong>
  <%= @map.exhibition_name %>
</p>

<p>
  <strong>Map Type: </strong>
  <%= @map.map_type %>
</p>
