<h1>Players</h1>

<%= link_to 'New', new_player_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th></th>
    </tr>
  </thead>
  <% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.age %></td>
    <td>
      <%= link_to 'Show', player_path(player) %> |
      <%= link_to 'Edit', edit_player_path(player) %> |
      <%= link_to 'Delete', player_path(player), method: :delete, data: {confirm: 'Are you sure?'} %>
    </td>
  </tr>
  <% end %>
</table>
